<?xml version="1.0"?>
<config>
  <modules>
    <Tech_Products>
      <version>0.1.0</version>
    </Tech_Products>
  </modules>
  <frontend>
    <routers>
      <products>
        <use>standard</use>
          <args>
            <module>Tech_Products</module>
            <frontName>products</frontName>
          </args>
      </products>
    </routers>
		<layout>
		  <updates>
			<products>
			  <file>products.xml</file>
			</products>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <products>
        <class>Tech_Products_Helper</class>
      </products>
    </helpers>
	<blocks>
	  <products>
		<class>Tech_Products_Block</class>
	  </products>
	</blocks>
  </global>
</config> 